{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrder": [
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "<TYPES>",
        "<TYPES>^~",
        "^@internal/(.*)$",
        "^[./].*(?<!\\.(c|le|sc)ss)$",
        "^~/auth/(.*)$",
        "^~/auth-apple/(.*)$",
        "^~/auth-facebook/(.*)$",
        "^~/auth-google/(.*)$",
        "^~/config/(.*)$",
        "^~/constants/(.*)$",
        "^~/database$",
        "^~/database/(.*)$",
        "^~/files/(.*)$",
        "^~/middlewares/(.*)$",
        "^~/locker/(.*)$",
        "^~/mail/(.*)$",
        "^~/mailer/(.*)$",
        "^~/monitoring/(.*)$",
        "^~/social/(.*)$",
        "^~/schemas/(.*)$",
        "^~/statuses/(.*)$",
        "^~/queues/(.*)$",
        "^~/roles/(.*)$",
        "^~/routes/(.*)$",
        "^~/services/(.*)$",
        "^~/session/(.*)$",
        "^~/handlers/(.*)$",
        "^~/types/(.*)$",
        "^~/plugins/(.*)$",
        "^~/schedulers/(.*)$",
        "^~/users/(.*)$",
        "^~/workers/(.*)$",
        "^~/utils/(.*)$"
    ],
    "importOrderTypeScriptVersion": "5.0.0"
}
